[Unit]
Description=Cameo hotspot service
After=multi-user.target
Requires=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/home/pi/Cameo/start_hotspot.sh
RemainAfterExit=true
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target