[Unit]
Description=Cameo hotspot service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/nmcli device wifi hotspot ssid cameo password raspberry ifname wlan0
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target