[Unit]
Description=Cameo service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/Cameo/start_stream.sh
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target