[Unit]
Description=Cameo hotspot service
After=multi-user.target
Requires=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli device wifi hotspot ssid cameo password raspberry ifname wlan0
RemainAfterExit=true
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target