[Unit]
Description=Cameo main service
After=multi-user.target
Requires=NetworkManager.service

[Service]
Type=simple
User=pi
ExecStart=/home/pi/Cameo/start_server.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target