[Unit]
Description=Cameo app service
After=cameo-stream.service
Requires=cameo_stream.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home/pi/Cameo/cameo_server.js
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target